<div class='gf_browser_safari gform_wrapper' id='gform_wrapper_1' >
<form netlify-honeypot="bot-field" data-netlify="true" name="website" action="thank-you" role="form">

<p class="hidden">
    <label>Don’t fill this out: <input name="bot-field"></label>
  </p>

    <label>Name</label>
    <input tabindex="6" type="text" name="name" id="name-field" class="nice_form" size="40" maxlength="35" />

    <label>Email Address</label>
    <input tabindex="7" type="text" name="email" id="email-field" class="nice_form" size="40" maxlength="35" />


    <label>Your Note</label>
    <textarea tabindex="8" name="message" id="message-field" class="nice_form" rows="6"></textarea>
    <br />
    <button type="submit" class="button tiny radius">Submit</button>

</form>


<style type="text/css">
.hidden {
  display: none;
}
  .LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}

.LV_invalid {
    color:#CC0000;
}

.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}
</style>

</div>
