@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(2000);

// $visual-grid: true;
$visual-grid-color: lightblue;
$visual-grid-index: front;
$visual-grid-opacity: 0.5;

//// viewport breakpoints idea from sassparilla, vp= viewport
$a-vp: em(300); // first viewport
$b-vp: em(420); // up one - 
$c-vp: em(600); // up two
$d-vp: em(900); // up three
$e-vp: em(1100);  // up four
$f-vp: em(1200);  // up five
$ie-fixed-vp: em(980);    // Viewport for IE fixed width 

// Neat Breakpoints
$medium-screen: em(768);  
$large-screen: em(900); 

// Bud boilerplate (used in top/nav/footer templates)
$tiny-screen-up: new-breakpoint(min-width $a-vp 4);
$small-screen-up: new-breakpoint(min-width $b-vp 4);
$medium-screen-up: new-breakpoint(min-width $d-vp 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

// mobile, large, xl, etc 
 
$mobile: new-breakpoint(max-width em(900) 6); // up to 900
$medium: new-breakpoint(min-width em(901) 12, max-width em(1100) 12);
$large: new-breakpoint(min-width em(1101) 12, max-width em(1200) 12);// 901-1200
$xlarge: new-breakpoint(min-width em(1201) 12);// 1201 and up

// @include media($mobile) {
//   $max-width: em(899);  
// }
// @include media($large) {
//   $max-width: em(1100);
// }
// @include media($xlarge) {
//   $max-width: em(1200);
// }