// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors

// Brand Colors
$color-1: #d4631c;// orange
$color-2: #434244;// dark gray
$color-3: #131718;// black
$color-4: #ffae39;// yellow
$color-5: #e7e4e2;// light gray


$blue: #477dca;
$dark-gray:$color-2;// #333;
$medium-gray: #999;
$light-gray:$color-5;// #ddd;
$black: $color-3;//#111;
$yellow: $color-4;
$orange: $color-1;


// Font Colors
$base-background-color: #fff;
$alt-background-color:$black;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

//NAVIGATION TOP
$base-border-radius: 3px;
  $dark-gray: #333;
  $large-screen: em(860);
  $base-font-color: $dark-gray;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background:$alt-background-color;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;


// NAVIGATION SIDE LEFT
$include-sidebar-right: false;
$include-sidebar-left: true;

//These must be in % values to calculate widths
$sidebar-width-home: 40.5%;
$sidebar-width: 40.5%;
$sidebar-right-width: 20%;
$sidebar-left-breakpoint: $medium-screen-up;
$sidebar-right-breakpoint: $medium-screen-up;

$sidebar-color-background: $black;
$sidebar-color: $color-5;

$sidebar-right-color-background: red;//transparent;//#000;
$sidebar-right-color: #555;
$sidebar-margin-top: $centered-navigation-height;


// HERO
$base-border-radius: 3px;
  $action-color: #477DCA;
  $large-screen: em(860);
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';




