body.home {
	height: 100vh;
	background-color: $dark-gray !important;
	main {
		height: 100vh;
		header {
			@include span-columns(12);
			text-align: center;
			height: rem(250);
			background-color: $dark-gray; 
			color: #fff;
			@include pad();
			// margin-top: 3rem;
			box-sizing: border-box;
			h1 {
				display: inline-block;
				text-align: left;
				font-size: 3rem;
				padding-left: 2rem;
				@include vertical-align();
			}
		}
		nav {
			padding-top: 5rem;
			width: 40%;
			height: calc(100vh - 250px); 
			box-sizing: border-box;
			float: left;
			background-color: $dark-gray;
			ul {
				text-align: right;
				// margin-right: 35%;
				li a {
					font-weight: 2rem;
					color: #fff;
				}
			}
		}
		article {
			width: 60%;
			height: calc(100vh - 250px); 
			box-sizing: border-box;
			float: right;
			@include pad();
			background-color: $dark-gray;
			img {
				height: 45vh;
				min-height: 250px;
				max-width: rem(300);
			}
		}
	}

}